{#
 # Sharif Judge
 # file: profile.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected='users' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-user{% endblock %}
{% block title %}Edit {{username}}{% endblock %}
{% block head_title %}Edit {{username}}{% endblock %}



{% block main_content %}
<p class="input_p">
{% if form_status == 'ok' %}
<div class="shj_ok">Profile updated successfully.</div>
{% elseif form_status == 'error' %}
	<div class="shj_error">Error updating profile.</div>
{% endif %}
</p>
{{ form_open('profile/edit/'~id) }}

<p class="input_p clear">
	<label for="form_email" class="short2">Primary Email:</label>
	<input id="form_email" type="text" name="email" class="sharif_input medium" value="{{ email }}"/>
	{{ form_error('email', '<div class="shj_error">', '</div>') }}
</p>
<p class="input_p clear">
	<label for="form_password" class="short2">Password:<br>
		<span class="form_comment">If you don't want to change password, leave this blank.</span>
	</label>
	<input id="form_password" type="password" name="password" class="sharif_input medium"/>
	{{ form_error('password', '<br><span class="shj_error">', '</span>') }}
</p>
<p class="input_p clear">
	<label for="form_password_2" class="short2">Password, Again:</label>
	<input id="form_password_2" type="password" name="password_again" class="sharif_input medium"/>
	{{ form_error('password_again', '<div class="shj_error">', '</div>') }}
</p>
{% if user.level == 3 %}
<p class="input_p clear">
	<label for="form_role" class="short2">User Role:</label>
	<select id="form_role" name="role" class="sharif_input">
		<option value="admin" {{ role=='admin' ? 'selected="selected"' }} >admin</option>
		<option value="head_instructor" {{ role=='head_instructor' ? 'selected="selected"' }} >head_instructor</option>
		<option value="instructor" {{ role=='instructor' ? 'selected="selected"' }} >instructor</option>
		<option value="student" {{ role=='student' ? 'selected="selected"' }} >student</option>
	</select>
	{{ form_error('role', '<div class="shj_error">', '</div>') }}
</p>
{% endif %}
<h1>Members</h1>
{% set i=1 %}
{% for member in members %}
<h3>member {{i}}</h3>
<p class="input_p clear">
	<label for="form_membername" class="short2">Name:</label>
	<input id="form_membername" type="text" name="membername[]" class="sharif_input medium" value="{{member.name}}"/>
	{{ form_error('membername[]', '<div class="shj_error">', '</div>') }}
</p>
<p class="input_p clear">
	<label for="form_memberinst" class="short2">Institute:</label>
	<input id="form_memberinst" type="text" name="memberinst[]" class="sharif_input medium" value="{{member.institute}}"/>
	{{ form_error('memberinst[]', '<div class="shj_error">', '</div>') }}
</p>
{% set i= i+1 %}
{% endfor %}
<p class="input_p">
	<input type="submit" value="Save" class="sharif_input"/>
</p>
</form>
{% endblock %}  {# main_content #}