{#
 # The Campus Judge
 # file: mcqquestion.twig
 # author: Shubham vishwakarma <shubhamvishwakarma987@gmail.com>
 #}
{% set selected = 'problems' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-puzzle-piece{% endblock %}
{% block title %}{{user.selected_assignment.name}}{% endblock %}
{% block head_title %}{{user.selected_assignment.name}}{% endblock %}
{% block other_title%} <base href="{{site_url('assignments/images/'~user.selected_assignment.id)}}/" />{% endblock %}
{% block other_assets %}
<script type='text/javascript' src="{{ base_url('assets/js/tcj_mcq.js') }}"></script>
<script type="text/javascript">
	mcq.no=0;
</script>
{% endblock%}

{% block title_menu %}
<span class="title_menu_item">
<span class="space-l">Total Problems: </span><span id="total"></span>
<span class="space-l">Attempted Problems: </span><span id="attempted"></span>
</span>
{% endblock %}

{% block main_content %}
<input type="hidden" id="assignment_id" value="{{user.selected_assignment.id}}"/>
<div id="sidebox" class="pull-right">
<table>
<col style="width:2px"><col style="width:3px"><col style="width:20px"><col style="width:3px"><col style="width:2px"><col style="width:2px">
	<tbody></tbody>
</table>
</div>
<img id="loading_icon" src="{{base_url('assets/images/load.gif')}}" alt="Loading icon"/>
<div id="mcq_view" style="display:none;">
			<h2 class="pull-right" id="score"></h2> 	
			<h2 dir="auto"><i id="star" class="fa " title="Star marked question"></i><span id="pname"></span></h2>
		<div id="desc">
		</div>
		<input type="hidden" id="problem_id" value=""/>
		<table id="opt_table">
		<tr><td class="option" id="o1">
		<div class="letter" >A.</div><div class="data">o1</div>
		</td>
		<td class="option" id="o2">
		<div class="letter" >B.</div><div class="data">o2</div>
		</td></tr>
		<tr><td class="option" id="o3">
		<div class="letter" >C.</div><div class="data">o3</div>
		</td>
		<td class="option" id="o4">
		<div class="letter" >D.</div><div class="data">o4</div>
		</td></tr>
		</table>
<div class="buttongroup">
	<input type="button" value="Prev" id="prev" class="sharif_input" />
	<input type="button" value="Reset" id="reset" class="sharif_input" />
	<input type="button" value="Flag" id="flag" class="sharif_input" />
	<input type="button" value="Next" id="next" class="sharif_input" />
</div>
</div>

{% endblock %}  {# main_content #}