{#
 # The Campus Judge
 # file: message.twig
 # author: Shubham vishwakarma <shubhamvishwakarma987@gmail.com>
 #}
{% set selected='assignments' %}
{% extends 'templates/base.twig' %}
{% block icon %}{{ 'fa-puzzle-piece' }}{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block head_title %}{{title}}{% endblock %}
{% block other_title%} <meta http-equiv="refresh" content="1;url={{site_url(redirect)}}"> /" />{% endblock %}

{% block main_content %}
<p>{{message}}</p>
<a href="{{site_url(redirect)}}">Click here to go back</a>
{% endblock %}