{#
 # Sharif Judge
 # file: submit.twig
 # author: Mohammad Javad Naderi <mjnaderi@gmail.com>
 #}
{% set selected = 'submit' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-location-arrow{% endblock %}
{% block title %}Submit{% endblock %}
{% block head_title %}Submit{% endblock %}



{% block other_assets %}


<script>
	shj.p={};
	{{ problems_js|raw }}
	$(document).ready(function(){
		$("select#problems").change(function(){
			var v = $(this).val();
			$('select#languages').empty();
			$('<option value="0" selected="selected">-- Select Language --</option>').appendTo('select#languages');
			if (v==0)
				return;
			for (var i=0;i<shj.p[v].length;i++)
				$('<option value="'+shj.p[v][i]+'">'+shj.p[v][i]+'</option>').appendTo('select#languages');
		});
	});
	 {% if probid!=0%} 	
	 $(document).ready(function(){
		$("select#problems").val("{{probid}}");
		var v={{probid}};
		for (var i=0;i<shj.p[v].length;i++)
				$('<option value="'+shj.p[v][i]+'">'+shj.p[v][i]+'</option>').appendTo('select#languages');
	});
	 {% endif %}
</script>
<style type="text/css" media="screen">
    #editor { 
        position: relative;
        height:500px;
        width:1000px;
    }
    #submitcode{
    	display: none;
    }
</style>
{% endblock %}



{% block main_content %}
{% if error != 'none' %}
<p>{{ error }}</p>
{% else %}
	<p>Selected assignment: <span dir="auto">{{ user.selected_assignment.name }}</span></p>
	<p>Coefficient: {{ coefficient }}%</p>
	{{ form_open_multipart('submit') }}
	<p class="input_p">
		<label for="problems" class="tiny">Problem:</label>
		<select id="problems" name ="problem" class="sharif_input">
			<option value="0" selected="selected">-- Select Problem --</option>
			{% for problem in problems %}
				<option dir="auto" value="{{ problem.id }}">{{ problem.name }}</option>
			{% endfor %}
		</select>
		{{ form_error('problem','<div class="shj_error">','</div>') }}
	</p>
	<p class="input_p">
		<label for="languages" class="tiny">Language:</label>
		<select id="languages" name="language" class="sharif_input">
			<option value="0" selected="selected">-- Select Language --</option>
		</select>
		{{ form_error('language','<div class="shj_error">','</div>') }}
	</p>

	<p><i class="fa fa-info-circle fa-lg color8"></i>If you are using java make sure class name and file name are same.</p>

	<p class="input_p">
		<label for="file" class="tiny">File:</label>
		<input type="file" id="file" class="sharif_input medium" name="userfile" />
		{% if upload_state == 'error' %}
		<div class="shj_error">Error uploading file.</div>
		{% elseif upload_state == 'ok' %}
		<div class="shj_ok">File uploaded successfully. See the result in 'All Submissions'.</div>
		{% endif %}
	</p>
	<p>OR</p>
	<p> Put Your source Code Here (use class name code for java):</p>
<pre id="editor"></pre>
<textarea id="submitcode" name="submitcode"></textarea>
	<p class="input_p">
		<input type="submit" value="Submit" id="submitbutton" class="sharif_input"/>
	</p>
	</form>
{% endif %}

{% endblock %}  {# main_content #}
{% block body_end%}
<script src="{{base_url('assets/ace/ace.js')}}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var lang_map = {
			"C": "c_cpp",
			"C++": "c_cpp",
			"Python 2": "python",
			"Python 3": "python",
			"Java": "java",            
	};
	var editor = ace.edit("editor");
	   editor.setTheme("ace/theme/chrome");
	$(document).on('change', "#languages", function(){
		var lang_id = $("#languages").val();
		if (typeof lang_map[lang_id] != "undefined") {
			editor.getSession().setMode('ace/mode/' + lang_map[lang_id]);
		} else {
			editor.getSession().setMode('ace/mode/text');
		}
	});
	var textarea=$("#submitcode");
$("#submitbutton").click(function(){
	textarea.val(editor.getSession().getValue());
});
</script>
{% endblock%}