{#
 # The Campus Judge
 # file: show_mcq.twig
 # author: Shubham vishwakarma <shubhamvishwakarma987@gmail.com>
 #}
{% set selected = 'assignments' %}
{% extends 'templates/base.twig' %}
{% block icon %}fa-flash{% endblock %}
{% block title %}View MCQ Problem{% endblock %}
{% block head_title %}View MCQ Problem{% endblock %}
{% block other_title%} <base href="{{site_url('assignments/images/'~problem.assignment)}}/" />{% endblock %}


{% block title_menu %}
<span class="title_menu_item">
	<a href="{{site_url('mcq/edit/'~problem.assignment~'/'~problem.id)}}"><i class="fa fa-edit"></i>Edit</a>
	<a href="{{site_url('assignments/edit/'~problem.assignment)}}"><i class="fa fa-arrow-left color11"></i> Back to assignments page</a>
</span>
{% endblock %}

{% block main_content %}
{% if message %}
<p class="shj_g">{{message}}</p>
{% endif%}
<div id="mcq_view">
			<h2 class="pull-right" id="score">{{problem.score}}/-{{problem.negative}}</h2>
			<h2 dir="auto">{{problem.star?'<small><i class="fa fa-asterisk fa-lg"></i></small>':""}}  {{problem.name}}</h2>
		<div id="desc">
		{{problem.description|raw}}
		</div>
		<table style="width: 100%;table-layout:fixed;">
		<tr><td class="option">
		<div class="letter" >A.</div><div class="data">{{problem.o1|raw}}</div>
		</td>
		<td class="option">
		<div class="letter" >B.</div><div class="data">{{problem.o2|raw}}</div>
		</td></tr>
		<tr><td class="option">
		<div class="letter" >C.</div><div class="data">{{problem.o3|raw}}</div>
		</td>
		<td class="option">
		<div class="letter" >D.</div><div class="data">{{problem.o4|raw}}</div>
		</td></tr>
		</table>
</div>

{% endblock %}  {# main_content #}